In [1]:
import pandas as pd 
import pickle 
import numpy as np 
from sqlalchemy import create_engine
import warnings 
warnings.filterwarnings('ignore')


from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import GoogleV3
import geopy
from time import sleep


#Create SQLite Database Table 
#engine = create_engine('sqlite:////Users/hannahkim/project/project3/inspection.db')
#connection = engine.connect()

#df.to_sql('inspection', con = engine, index = False, if_exists = 'replace')

Clean Data before loading into SQLite

In [2]:
df = pd.read_csv('restaurant_inspection.csv')

In [3]:
df.head()

,camis,dba,boro,building,street,zipcode,phone,inspection_date,critical_flag,record_date,...,bbl,nta,cuisine_description,action,violation_code,violation_description,score,inspection_type,grade,grade_date
0,50115383,MAKE MY CAKE,Manhattan,409,WEST 125 STREET,10027.0,9174405783,1900-01-01T00:00:00.000,Not Applicable,2022-08-27T06:00:16.000,...,1.019660e+09,MN09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50101317,THE FLO KISS,Manhattan,1802,65TH STREET TRANVERSE,NaN,6466453020,1900-01-01T00:00:00.000,Not Applicable,2022-08-27T06:00:16.000,...,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50109634,QUICK EATS AT MASTERCARD,Manhattan,150,5 AVENUE,10011.0,2152383000,1900-01-01T00:00:00.000,Not Applicable,2022-08-27T06:00:16.000,...,1.008210e+09,MN13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50124605,NaN,Manhattan,37,SAINT MARKS PLACE,10003.0,9174788158,1900-01-01T00:00:00.000,Not Applicable,2022-08-27T06:00:16.000,...,1.004648e+09,MN22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50112662,NaN,Manhattan,512,7 AVENUE,10018.0,9292676606,1900-01-01T00:00:00.000,Not Applicable,2022-08-27T06:00:16.000,...,1.007870e+09,MN17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(248020, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248020 entries, 0 to 248019
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   camis                  248020 non-null  int64
 1   dba                    246426 non-null  object
 2   boro                   248020 non-null  object
 3   building               247520 non-null  object
 4   street                 247991 non-null  object
 5   zipcode                244435 non-null  float64
 6   phone                  247998 non-null  object
 7   inspection_date        248020 non-null  object
 8   critical_flag          248020 non-null  object
 9   record_date            248020 non-null  object
 10  latitude               247745 non-null  float64
 11  longitude              247745 non-null  float64
 12  community_board        243757 non-null  float64
 13  council_district       243757 non-null  float64
 14  census_tract           243757 non-null  float64
 15  bin                    242567 non-null  float64
 16  bbl                    247313 non-null  float64
 17  nta                    243757 non-null  object
 18  cuisine_description    243872 non-null  object
 19  action                 243872 non-null  object
 20  violation_code         242073 non-null  object
 21  violation_description  242073 non-null  object
 22  score                  236033 non-null  float64
 23  inspection_type        243872 non-null  object
 24  grade                  121312 non-null  object
 25  grade_date             114115 non-null  object
dtypes: float64(9), int64(1), object(16)
memory usage: 49.2+ MB

Remove columns not needed for analysis

In [6]:
df.drop(['phone', 'community_board', 
         'council_district', 'census_tract', 'bin', 'bbl', 'nta'], 
          axis = 1, inplace = True)

In [7]:
df.inspection_date.value_counts()[:25]

1900-01-01T00:00:00.000    4148
2022-05-12T00:00:00.000     675
2019-10-30T00:00:00.000     674
2019-11-07T00:00:00.000     666
2020-01-22T00:00:00.000     660
2022-05-24T00:00:00.000     648
2019-10-23T00:00:00.000     647
2019-10-24T00:00:00.000     642
2022-06-15T00:00:00.000     632
2019-09-11T00:00:00.000     627
2020-03-03T00:00:00.000     616
2022-05-18T00:00:00.000     615
2020-01-14T00:00:00.000     614
2019-12-03T00:00:00.000     612
2020-02-11T00:00:00.000     609
2019-10-10T00:00:00.000     607
2019-11-13T00:00:00.000     605
2019-09-26T00:00:00.000     605
2020-01-16T00:00:00.000     600
2022-07-07T00:00:00.000     600
2019-11-19T00:00:00.000     599
2019-10-02T00:00:00.000     597
2022-07-13T00:00:00.000     596
2020-02-20T00:00:00.000     594
2022-06-07T00:00:00.000     590
Name: inspection_date, dtype: int64

Remove data where inspection was not evaluated

In [8]:
#remove rows where inspection was not evaluated : inspection data = 1900-01-01
df.drop(df[df.inspection_date == '1900-01-01T00:00:00.000'].index, inplace=True)

In [9]:
df.shape

(243872, 19)

In [10]:
#remove data without name of restaurant
df.dropna(subset = ['dba'], inplace = True )

In [11]:
df.shape

(243846, 19)

Investigate Missing Values for Zipcode and Coordinates

In [12]:
#get address for all rows of data 
df['address'] = df['building'] + ' ' + df['street'] + ' ' + 'NYC'

In [13]:
#set instances for API
geolocator = Nominatim(user_agent= 'hannahdazey2@gmail.com', timeout = 5)
geocode = RateLimiter(geolocator.geocode,min_delay_seconds = 1)
geo = GoogleV3(api_key = 'AIzaSyBSQl44esLZoRpcissDYaiOuIx1wto1GIc')

#location = geolocator.geocode('2077 ADAM CLAYTON POWELL JR BOULEVARD NYC', addressdetails = True)
#print(location.raw['address']['postcode'])

#print(location.latitude)
#print(location)

In [14]:
#extract null values to impute 
null_df = df[df.latitude.isna() | df.latitude == 0.0]
null_df

,camis,dba,boro,building,street,zipcode,inspection_date,critical_flag,record_date,latitude,longitude,cuisine_description,action,violation_code,violation_description,score,inspection_type,grade,grade_date,address
105,50043676,DELHI MASALA RESTAURANT,Manhattan,2077,ADAM CLAYTON POWELL JR BOULEVARD,NaN,2021-08-20T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,0.0,0.0,Indian,Violations were cited in the following area(s).,10H,Proper sanitization not provided for utensil w...,16.0,Cycle Inspection / Initial Inspection,NaN,NaN,2077 ADAM CLAYTON POWELL JR BOULEVARD NYC
114,41109381,DOMINO'S,Manhattan,2554,ADAM CLAYTON POWELL JR BOULEVARD,NaN,2022-01-10T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,0.0,0.0,Pizza,Violations were cited in the following area(s).,10J,Hand wash sign not posted,30.0,Cycle Inspection / Initial Inspection,NaN,NaN,2554 ADAM CLAYTON POWELL JR BOULEVARD NYC
127,41086967,IL SOLE,Manhattan,229233,DYCKMAN STREET,NaN,2019-11-04T00:00:00.000,Critical,2022-08-27T06:00:12.000,0.0,0.0,Italian,Violations were cited in the following area(s).,04K,Evidence of rats or live rats present in facil...,26.0,Cycle Inspection / Initial Inspection,NaN,NaN,229233 DYCKMAN STREET NYC
150,41718673,BAREBURGER,Brooklyn,145149,COURT ST,NaN,2022-03-08T00:00:00.000,Critical,2022-08-27T06:00:12.000,0.0,0.0,Hamburgers,Violations were cited in the following area(s).,04M,Live roaches present in facility's food and/or...,17.0,Cycle Inspection / Initial Inspection,NaN,NaN,145149 COURT ST NYC
176,40958170,SOHO HOUSE,Manhattan,2935,9 AVENUE,NaN,2020-03-13T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,0.0,0.0,American,Violations were cited in the following area(s).,10J,Hand wash sign not posted,23.0,Cycle Inspection / Initial Inspection,NaN,NaN,2935 9 AVENUE NYC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247400,50088495,SIDO GRILL,Manhattan,2288,FREDERICK DOUGLASS BOULEVARD,NaN,2019-05-22T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,0.0,0.0,Mediterranean,Violations were cited in the following area(s).,10B,Plumbing not properly installed or maintained;...,67.0,Pre-permit (Operational) / Initial Inspection,NaN,NaN,2288 FREDERICK DOUGLASS BOULEVARD NYC
247606,41111464,100 FUN,Brooklyn,932934,60 STREET,NaN,2022-04-19T00:00:00.000,Critical,2022-08-27T06:00:12.000,0.0,0.0,Asian/Asian Fusion,Violations were cited in the following area(s).,04L,Evidence of mice or live mice present in facil...,9.0,Cycle Inspection / Initial Inspection,NaN,NaN,932934 60 STREET NYC
247653,50087371,PATISSERIE DES AMBASSADES,Manhattan,2200,FREDERICK DOUGLASS BOULEVARD,NaN,2019-12-18T00:00:00.000,Critical,2022-08-27T06:00:12.000,0.0,0.0,French,Violations were cited in the following area(s).,02B,Hot food item not held at or above 140Âº F.,26.0,Cycle Inspection / Initial Inspection,NaN,NaN,2200 FREDERICK DOUGLASS BOULEVARD NYC
247798,41395408,"CITI FIELD HOT PASTRAMI ON RYE, STAND 126",Queens,126,ROOSEVELT AVENUE,NaN,2017-06-13T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,0.0,0.0,American,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,5.0,Cycle Inspection / Initial Inspection,A,2017-06-13T00:00:00.000,126 ROOSEVELT AVENUE NYC
247822,41395342,"CITI FIELD MISTER SOFTEE, STAND 131",Queens,000,126 STREET & ROOSEVELT AVENUE,NaN,2016-06-07T00:00:00.000,Critical,2022-08-27T06:00:12.000,0.0,0.0,Frozen Desserts,Violations were cited in the following area(s).,04J,Appropriately scaled metal stem-type thermomet...,13.0,Cycle Inspection / Initial Inspection,A,2016-06-07T00:00:00.000,000 126 STREET & ROOSEVELT AVENUE NYC

In [15]:
def get_lat_null(address):
    try:
        location = geo.geocode(address)
        
        return location.latitude
    except:
        return ''
def get_long_null(address):
    try:
        location = geo.geocode(address)
        
        return location.longitude
    except:
        return ''

def get_zipcode_null(df, geoloco, lat, long):
    try:
        location = geolocator.reverse((df[lat], df[long]))
        
        return location.raw['address']['postcode'] 
    except:
        return ''

In [16]:
#obtain clean address using Google Maps API via geopy
def extract_clean_address(address):
    try:
        location = geo.geocode(address)
        return location.address
    except:
        return ''
null_df['clean address'] = null_df.apply(lambda x: extract_clean_address(x['address']) , axis =1  )

In [17]:
#obtain latitude, longitude, zipcode with address that can read into API 
null_df['latitude_clean'] = null_df.apply(lambda x: get_lat_null(x['clean address']), axis =1)
null_df['longitude_clean'] = null_df.apply(lambda x: get_long_null(x['clean address']), axis =1)
null_df['zipcode_clean'] = null_df.apply(get_zipcode_null, 
                                        geoloco = geolocator, 
                                         lat = 'latitude_clean', 
                                        long = 'longitude_clean', axis = 1)

Replace missing values to original column

In [18]:
# replace values in zipcode, latitude, longitude that are missing: 
mask_zip1 =  null_df['zipcode'].isna()  
mask_zip2= null_df['zipcode_clean'].notnull()  #what we want to replace it with

mask_lat1 = (null_df['latitude'].isna() | null_df['latitude'] == 0.0)
mask_lat2= null_df['latitude_clean'].notnull()  #what we want to replace it with

mask_long1 =  (null_df['longitude'].isna() | null_df['longitude'] == 0.0) 
mask_long2= null_df['longitude_clean'].notnull()  #what we want to replace it with



#  will replace zipcode_clean to zipcode and C are not empty, A = C, else A keep its value 
null_df['zipcode'] = np.where(mask_zip1 & mask_zip2, null_df['zipcode_clean'], null_df['zipcode'])

null_df['latitude'] = np.where(mask_lat1 & mask_lat2, null_df['latitude_clean'], null_df['latitude'])


null_df['longitude'] = np.where(mask_long1 & mask_long2, null_df['longitude_clean'], null_df['longitude'])

In [19]:
#check if method worked 
m = null_df[(null_df['zipcode'].isna() & null_df['zipcode_clean'].notnull())]
m

Empty DataFrame
Columns: [camis, dba, boro, building, street, zipcode, inspection_date, critical_flag, record_date, latitude, longitude, cuisine_description, action, violation_code, violation_description, score, inspection_type, grade, grade_date, address, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 24 columns]

In [22]:
#check if method worked
m = null_df[((null_df['latitude'].isna() | null_df['latitude'] == 0.0)  & null_df['latitude_clean'].notnull())]
m

Empty DataFrame
Columns: [camis, dba, boro, building, street, zipcode, inspection_date, critical_flag, record_date, latitude, longitude, cuisine_description, action, violation_code, violation_description, score, inspection_type, grade, grade_date, address, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 24 columns]

In [23]:
#check if method worked
m = null_df[((null_df['longitude'].isna() | null_df['longitude'] == 0.0)  & null_df['longitude_clean'].notnull())]
m

Empty DataFrame
Columns: [camis, dba, boro, building, street, zipcode, inspection_date, critical_flag, record_date, latitude, longitude, cuisine_description, action, violation_code, violation_description, score, inspection_type, grade, grade_date, address, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 24 columns]

In [24]:
#save to pickle file

null_df.to_pickle('get_coordinates.pkl')

In [25]:
#load pickle file
null_df = pd.read_pickle('get_coordinates.pkl')

In [26]:
#drop duplicates for both datasets 
df.drop_duplicates(inplace = True)
df.shape

(228976, 20)

In [27]:
null_df.drop_duplicates(inplace = True)
null_df.shape

(3306, 24)

Merge Datasets

In [28]:
merged_df = df.merge(null_df, on=['camis', 'dba'], how='left')

In [29]:
merged_df.shape

(275868, 42)

In [30]:
#drop duplicates 

merged_df.drop_duplicates(subset=['camis','zipcode_x',
                                  'grade_date_x','grade_x',
                                  'inspection_type_x','inspection_date_x',
                                  'violation_description_x', 'score_x', 'record_date_x', 
                                 'latitude_x', 'boro_x', 'street_x', 'action_x'], inplace = True)
merged_df.shape

(228971, 42)

In [31]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228971 entries, 0 to 275867
Data columns (total 42 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   camis                    228971 non-null  int64
 1   dba                      228971 non-null  object
 2   boro_x                   228971 non-null  object
 3   building_x               228540 non-null  object
 4   street_x                 228971 non-null  object
 5   zipcode_x                225675 non-null  float64
 6   inspection_date_x        228971 non-null  object
 7   critical_flag_x          228971 non-null  object
 8   record_date_x            228971 non-null  object
 9   latitude_x               228770 non-null  float64
 10  longitude_x              228770 non-null  float64
 11  cuisine_description_x    228971 non-null  object
 12  action_x                 228971 non-null  object
 13  violation_code_x         227173 non-null  object
 14  violation_description_x  227173 non-null  object
 15  score_x                  221351 non-null  float64
 16  inspection_type_x        228971 non-null  object
 17  grade_x                  112335 non-null  object
 18  grade_date_x             105545 non-null  object
 19  address_x                228540 non-null  object
 20  boro_y                   3296 non-null    object
 21  building_y               3296 non-null    object
 22  street_y                 3296 non-null    object
 23  zipcode_y                3296 non-null    object
 24  inspection_date_y        3296 non-null    object
 25  critical_flag_y          3296 non-null    object
 26  record_date_y            3296 non-null    object
 27  latitude_y               3296 non-null    float64
 28  longitude_y              3296 non-null    float64
 29  cuisine_description_y    3296 non-null    object
 30  action_y                 3296 non-null    object
 31  violation_code_y         3198 non-null    object
 32  violation_description_y  3198 non-null    object
 33  score_y                  3105 non-null    float64
 34  inspection_type_y        3296 non-null    object
 35  grade_y                  1711 non-null    object
 36  grade_date_y             1632 non-null    object
 37  address_y                3296 non-null    object
 38  clean address            3296 non-null    object
 39  latitude_clean           3296 non-null    float64
 40  longitude_clean          3296 non-null    float64
 41  zipcode_clean            3296 non-null    object
dtypes: float64(9), int64(1), object(32)
memory usage: 75.1+ MB

In [32]:
# replace missing values for zipcode, latitude, longitude: 

# zipcode mask

mask_zip1 = merged_df['zipcode_x'].isna() 
mask_zip2 = merged_df['zipcode_y'].notnull() #what we want to replace it with

#latitude mask
mask_lat1 =  (merged_df['latitude_x'].isna()|merged_df['latitude_x'] == 0.0)  
mask_lat2= merged_df['latitude_y'].notnull()  #what we want to replace it with

#longitude mask
mask_long1 =  (merged_df['longitude_x'].isna()|merged_df['longitude_x'] == 0.0)  
mask_long2= merged_df['longitude_y'].notnull()  #what we want to replace it with

#  will replace zipcode_clean to zipcode and C are not empty, A = C, else A keep its value 
merged_df['zipcode_x'] = np.where(mask_zip1 & mask_zip2, merged_df['zipcode_y'], merged_df['zipcode_x'])

# replace latitude

merged_df['latitude_x'] = np.where(mask_zip1 & mask_zip2, merged_df['latitude_y'], merged_df['latitude_x'])

#replace longitude

merged_df['longitude_x'] = np.where(mask_zip1 & mask_zip2, merged_df['longitude_y'], merged_df['longitude_x'])

In [33]:
#check if method worked
m = merged_df[merged_df['zipcode_x'].isna() & merged_df['zipcode_y'].notnull()]
m

Empty DataFrame
Columns: [camis, dba, boro_x, building_x, street_x, zipcode_x, inspection_date_x, critical_flag_x, record_date_x, latitude_x, longitude_x, cuisine_description_x, action_x, violation_code_x, violation_description_x, score_x, inspection_type_x, grade_x, grade_date_x, address_x, boro_y, building_y, street_y, zipcode_y, inspection_date_y, critical_flag_y, record_date_y, latitude_y, longitude_y, cuisine_description_y, action_y, violation_code_y, violation_description_y, score_y, inspection_type_y, grade_y, grade_date_y, address_y, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 42 columns]

In [34]:
m = merged_df[((merged_df['latitude_x'].isna()|merged_df['latitude_x'] == 0.0)  & merged_df['latitude_y'].notnull())]
m

Empty DataFrame
Columns: [camis, dba, boro_x, building_x, street_x, zipcode_x, inspection_date_x, critical_flag_x, record_date_x, latitude_x, longitude_x, cuisine_description_x, action_x, violation_code_x, violation_description_x, score_x, inspection_type_x, grade_x, grade_date_x, address_x, boro_y, building_y, street_y, zipcode_y, inspection_date_y, critical_flag_y, record_date_y, latitude_y, longitude_y, cuisine_description_y, action_y, violation_code_y, violation_description_y, score_y, inspection_type_y, grade_y, grade_date_y, address_y, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 42 columns]

In [35]:
m = merged_df[((merged_df['longitude_x'].isna()|merged_df['longitude_x'] == 0.0)  & merged_df['longitude_y'].notnull())]
m

Empty DataFrame
Columns: [camis, dba, boro_x, building_x, street_x, zipcode_x, inspection_date_x, critical_flag_x, record_date_x, latitude_x, longitude_x, cuisine_description_x, action_x, violation_code_x, violation_description_x, score_x, inspection_type_x, grade_x, grade_date_x, address_x, boro_y, building_y, street_y, zipcode_y, inspection_date_y, critical_flag_y, record_date_y, latitude_y, longitude_y, cuisine_description_y, action_y, violation_code_y, violation_description_y, score_y, inspection_type_y, grade_y, grade_date_y, address_y, clean address, latitude_clean, longitude_clean, zipcode_clean]
Index: []

[0 rows x 42 columns]

In [36]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228971 entries, 0 to 275867
Data columns (total 42 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   camis                    228971 non-null  int64
 1   dba                      228971 non-null  object
 2   boro_x                   228971 non-null  object
 3   building_x               228540 non-null  object
 4   street_x                 228971 non-null  object
 5   zipcode_x                228971 non-null  object
 6   inspection_date_x        228971 non-null  object
 7   critical_flag_x          228971 non-null  object
 8   record_date_x            228971 non-null  object
 9   latitude_x               228770 non-null  float64
 10  longitude_x              228770 non-null  float64
 11  cuisine_description_x    228971 non-null  object
 12  action_x                 228971 non-null  object
 13  violation_code_x         227173 non-null  object
 14  violation_description_x  227173 non-null  object
 15  score_x                  221351 non-null  float64
 16  inspection_type_x        228971 non-null  object
 17  grade_x                  112335 non-null  object
 18  grade_date_x             105545 non-null  object
 19  address_x                228540 non-null  object
 20  boro_y                   3296 non-null    object
 21  building_y               3296 non-null    object
 22  street_y                 3296 non-null    object
 23  zipcode_y                3296 non-null    object
 24  inspection_date_y        3296 non-null    object
 25  critical_flag_y          3296 non-null    object
 26  record_date_y            3296 non-null    object
 27  latitude_y               3296 non-null    float64
 28  longitude_y              3296 non-null    float64
 29  cuisine_description_y    3296 non-null    object
 30  action_y                 3296 non-null    object
 31  violation_code_y         3198 non-null    object
 32  violation_description_y  3198 non-null    object
 33  score_y                  3105 non-null    float64
 34  inspection_type_y        3296 non-null    object
 35  grade_y                  1711 non-null    object
 36  grade_date_y             1632 non-null    object
 37  address_y                3296 non-null    object
 38  clean address            3296 non-null    object
 39  latitude_clean           3296 non-null    float64
 40  longitude_clean          3296 non-null    float64
 41  zipcode_clean            3296 non-null    object
dtypes: float64(8), int64(1), object(33)
memory usage: 75.1+ MB

In [37]:
merged_df[merged_df.latitude_x.isna()]

,camis,dba,boro_x,building_x,street_x,zipcode_x,inspection_date_x,critical_flag_x,record_date_x,latitude_x,...,violation_description_y,score_y,inspection_type_y,grade_y,grade_date_y,address_y,clean address,latitude_clean,longitude_clean,zipcode_clean
98,40883586,FLIK (American Express),0,200,VESEY STREET,10285.0,2021-08-09T00:00:00.000,Not Applicable,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,50058445,JAMBA JUICE,Manhattan,NaN,AMTRAK LEVEL,10001.0,2022-01-14T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,40376515,AMERICAN MUSEUM OF NATURAL HISTORY FOOD COURT,Manhattan,NaN,W 79 STREET,10024.0,2019-06-05T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1658,50016630,"HUDSON, EURO CAFE",Queens,NaN,TERM8-A1,11430.0,2017-01-12T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,50092783,ARTICHOKE PIZZA,Queens,NaN,Terminal 5,11430.0,2022-08-11T00:00:00.000,Not Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266571,50112612,PIXIE SCOUT CANTEEN,Manhattan,NaN,BATTERY PARK THE BOSQUE AREA,10004.0,2021-08-12T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266617,50058445,JAMBA JUICE,Manhattan,NaN,AMTRAK LEVEL,10001.0,2020-01-10T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267040,50010286,GRAND BANKS,Manhattan,NaN,Park N. Moore St. at West S,10013.0,2022-06-21T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268765,50081660,FIVE BOROUGH FOOD EMPORIUM,Manhattan,NaN,CENTRAL TERMINAL BUILDING,11371.0,2020-02-06T00:00:00.000,Not Applicable,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271950,41414797,(PUBLIC FARE) 81st street and central park wes...,Manhattan,NaN,CENTRAL PARK WEST,10024.0,2018-07-25T00:00:00.000,Critical,2022-08-27T06:00:12.000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
#drop row where latitude x is Nan where Google API and geopy could not retrieve info on address

merged_df.dropna(subset = ['latitude_x'], inplace=True)

In [41]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228770 entries, 0 to 275867
Data columns (total 42 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   camis                    228770 non-null  int64
 1   dba                      228770 non-null  object
 2   boro_x                   228770 non-null  object
 3   building_x               228463 non-null  object
 4   street_x                 228770 non-null  object
 5   zipcode_x                228770 non-null  object
 6   inspection_date_x        228770 non-null  object
 7   critical_flag_x          228770 non-null  object
 8   record_date_x            228770 non-null  object
 9   latitude_x               228770 non-null  float64
 10  longitude_x              228770 non-null  float64
 11  cuisine_description_x    228770 non-null  object
 12  action_x                 228770 non-null  object
 13  violation_code_x         226980 non-null  object
 14  violation_description_x  226980 non-null  object
 15  score_x                  221156 non-null  float64
 16  inspection_type_x        228770 non-null  object
 17  grade_x                  112192 non-null  object
 18  grade_date_x             105407 non-null  object
 19  address_x                228463 non-null  object
 20  boro_y                   3296 non-null    object
 21  building_y               3296 non-null    object
 22  street_y                 3296 non-null    object
 23  zipcode_y                3296 non-null    object
 24  inspection_date_y        3296 non-null    object
 25  critical_flag_y          3296 non-null    object
 26  record_date_y            3296 non-null    object
 27  latitude_y               3296 non-null    float64
 28  longitude_y              3296 non-null    float64
 29  cuisine_description_y    3296 non-null    object
 30  action_y                 3296 non-null    object
 31  violation_code_y         3198 non-null    object
 32  violation_description_y  3198 non-null    object
 33  score_y                  3105 non-null    float64
 34  inspection_type_y        3296 non-null    object
 35  grade_y                  1711 non-null    object
 36  grade_date_y             1632 non-null    object
 37  address_y                3296 non-null    object
 38  clean address            3296 non-null    object
 39  latitude_clean           3296 non-null    float64
 40  longitude_clean          3296 non-null    float64
 41  zipcode_clean            3296 non-null    object
dtypes: float64(8), int64(1), object(33)
memory usage: 75.1+ MB

In [42]:
merged_df.columns

Index(['camis', 'dba', 'boro_x', 'building_x', 'street_x', 'zipcode_x',
       'inspection_date_x', 'critical_flag_x', 'record_date_x', 'latitude_x',
       'longitude_x', 'cuisine_description_x', 'action_x', 'violation_code_x',
       'violation_description_x', 'score_x', 'inspection_type_x', 'grade_x',
       'grade_date_x', 'address_x', 'boro_y', 'building_y', 'street_y',
       'zipcode_y', 'inspection_date_y', 'critical_flag_y', 'record_date_y',
       'latitude_y', 'longitude_y', 'cuisine_description_y', 'action_y',
       'violation_code_y', 'violation_description_y', 'score_y',
       'inspection_type_y', 'grade_y', 'grade_date_y', 'address_y',
       'clean address', 'latitude_clean', 'longitude_clean', 'zipcode_clean'],
      dtype='object')

In [43]:
#drop columns not needed 

merged_df.drop(['boro_y', 'building_y', 'street_y',
       'zipcode_y', 'inspection_date_y', 'critical_flag_y', 'record_date_y',
       'latitude_y', 'longitude_y', 'cuisine_description_y', 'action_y',
       'violation_code_y', 'violation_description_y', 'score_y',
       'inspection_type_y', 'grade_y', 'grade_date_y', 'address_y'], axis = 1, inplace = True)

In [44]:
#rename columns 
merged_df.columns = merged_df.columns.str.replace('_x', '')

In [45]:
merged_df.columns

Index(['camis', 'dba', 'boro', 'building', 'street', 'zipcode',
       'inspection_date', 'critical_flag', 'record_date', 'latitude',
       'longitude', 'cuisine_description', 'action', 'violation_code',
       'violation_description', 'score', 'inspection_type', 'grade',
       'grade_date', 'address', 'clean address', 'latitude_clean',
       'longitude_clean', 'zipcode_clean'],
      dtype='object')

In [46]:
#pickle merged dataset

merged_df.to_pickle('merged.pkl')